{% extends 'app/base.html' %}
{% block content %}
    <div class="container about-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>About</h1>
            <br>
            <p>
                This site is a display page for the non-profit organizations data set put forth monthly
                by the state of Oregon.  The original data set can be found
                <a href="https://data.oregon.gov/Business/NON-PROFITS/7dex-ty4k">here</a>.

            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
    <br><br><br>
{% endblock %}