{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="container" id="map-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="map-inner">
                    <div id="map"></div>
                </div>
            </div>
        </div>

    </div>
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="main-content">
                <form action="." type="post">
                    <div class="form-group">
                        <form action=".">
                            {{ search_form }}
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </form>
                <h2>Non-Profits List</h2>
                <div>
                    {% for organization in organization_list %}
                        <h3>{{ organization.business_name | title }}</h3>
                        <div>Address: {{ organization.address | title }}</div>
                        <div>Zip: {{ organization.zip_code }}</div>
                        <div>City: {{ organization.city | title }}</div>
                        <div>State: {{ organization.state | title }}</div>
                        <div>Date Registered: {{ organization.registry_date }}</div>
                    {% endfor %}
                </div>

                <div class="pagination">
                    {% if organization_list.has_previous %}
                        <a href="?page={{ contacts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
            Page {{ organization_list.number }} of {{ organization_list.paginator.num_pages }}.
        </span>

                    {% if organization_list.has_next %}
                        <a href="?page={{ organization_list.next_page_number }}{{ current_params }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>
    </div>
    </div>
{% endblock %}