#map {
  height: 450px;
  width: 100%;
}

nav {
  background-color: white;
}

#navbar-container {
  background-color: white;
  // border-bottom: solid black 1px;
}

.navbar-brand,
.navbar-nav li a {
  height: 80px;
  line-height: 80px;
  padding-top: 10px;
  background-color: white;

}

.navbar-brand {
  padding-left: 70px;
  font-size: 1.7em;
  background-color: white;

}

nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-right {
  padding-right: 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: white;
}

.navbar {
  border: none;
    background-color: white;

}

.navbar::after{
  content: "";
  height: 30px;
  margin-bottom: -30px;
}

#main-container {
  margin-top: 50px;
}

#main-container::after {
  content: "";
  min-height: 200px;
}

#main-content {
  padding: 20px;
  box-shadow: #6c6c6c;
  margin-bottom: -142px;
  opacity: 1;
}

.organization-box {
  margin: 50px;
  padding: 25px;
  border-radius: 35px;
  background-color: white;
  //max-width: 600px;
}

#main-content:after {
  content: "";
  display: block;
}

#map-container {
  width: 100%;
  background-color: #464E54;
}

#map-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

#main-content > form > div > button {
  border-color: black;
  margin-top: 10px;
}

.footer-container,
#main-content:after {
  min-height: 142px;
}

#footer-break {
  border-bottom: solid black 1px;
}

.footer-container {
  margin-top: 50px;
  margin-left: 100px;
}

.body-wrap {
  background: white;
}

#main-content {
  padding: 50px;
}

.heading {
  padding-top: 25px;
}

.organization-block {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid black 1px;
}